@model CSWeek3._1.Models.PlayerItems

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PlayerItems</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item.iconUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.iconUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Player.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
